@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --white: #ffffff;
  --color-1: #2b2b36;
  --color-2: #21212d;
  --color-3: #8673f3;
  --color-4: #828ea0;
  --color-5: #ffffff;

  --color-6: #21212d6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
}
#app {
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: light) {
}

ul {
  list-style-type: none;
}

body {
  overflow: hidden;
}
