@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
}
#app {
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: light) {
}

ul {
  list-style-type: none;
}
